* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000000;
}
div {
  border: 10px solid white;
  overflow: hidden;
}
.box {
    float: right;
    width: 300px;
    border: 10px solid white;
    padding-top: 20px;
    margin-top: 40px;
}

.boxed {
  border: 10px solid white;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 50px;
  padding-top: 20px;
  width: 300px;
  height: 300px;
}

.boxed2 {
  border: 10px solid white;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 50px;
  width: 300px;
  height: 300px;
}
.boxed3 {
  border: 10px solid white;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 50px;
  width: 300px;
  height: 300px;
}

.boxed4 {
  border: 10px solid white;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 50px;
  width: 300px;
  height: 300px;
}
.main4 {
  border: 5px solid white;
  background-color: black;
  color: white;
  margin-right: 100px;
  margin-left: 100px;
  margin: auto;
  width: 1166px;
}
.header {
    background-color: #f1f1f1;
    padding: 50px;
    text-align: center;
}

h1 {
  font-family: "Lucida Console", monospace;
  font-style: oblique;
  color: white;
  text-align: center;
  border: 5px solid white;
  margin-left: 100px;
  margin-right: 100px;
  background-color: black;
}

h2 {
  font-family: "Lucida Console", monospace;
  font-style: oblique;
  color: white;
  text-align: justify;
  border: 5px 5px 0 0 solid white;
  background-color: black;
}
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    margin-top: -25px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #000000;
    border: 5px solid white;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}
p {
  color: white;
  text-align: justify;
  background-color: black;
  margin-top: -20px;
}
form{
  background-color: white;
  color: black;
  width: 1166;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
    @media only screen and (max-width: 500px) {
        body {
            background-color: lightblue;
        }
    }
